<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Categories</title>
</head>
<body>

<div th:replace="~{layout :: layout(~{::content})}">
    <th:block th:fragment="content">
        <h2>Manage Categories</h2>

        <table class="table">
            <thead>
            <tr>
                <th>Mã loại</th>
                <th>Tên loại</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${categories}">
                <td th:text="${c.maLoai}">L01</td>
                <td th:text="${c.tenLoai}">Điện thoại</td>
            </tr>
            </tbody>
        </table>

    </th:block>
</div>

</body>
</html>
