<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sản phẩm</title>
</head>
<body>

<div th:replace="~{layout :: layout(~{::content})}">
  <th:block th:fragment="content">
    <div>
        <h3 class="mb-4">Tất cả sản phẩm</h3>
        <div class="products-grid">
            <div class="card" th:each="sp : ${products}">
                <img th:src="@{/images/{id}.jpg(id=${sp.maSP})}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 th:text="${sp.tenSP}" class="card-title"></h5>
                    <p th:text="${#numbers.formatDecimal(sp.donGia,0,'COMMA',0,'POINT')} + ' ₫'" class="card-price"></p>
                    <a th:href="@{/products/{id}(id=${sp.maSP})}" class="btn btn-outline w-100 btn-sm">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
  </th:block>
</div>

</body>
</html>
